@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">

cxfd<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SANGUINARIOS - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    <link rel="shortcut icon" href="~/Content/images/favicon.png" />
</head>

<body>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/Content/images/logo_star_black.png" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Content/images/logo_star_mini.jpg" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
                </form>*@
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        @*<a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="~/Content/images/face.jpg" alt=""></a>*@
                        @Html.Partial("_LoginPartial")
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="~/Content/images/mariana.jpg" alt="">
                        <p class="name">@User.Identity.GetUserName()</p>
                        <p class="designation"></p>
                        <span class="online"></span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                <img src="~/Content/images/icons/1.png" alt="">
                                <span class="menu-title">Citas</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Medico"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("MenuHistorialPaciente","Menu")">
                                    <img src="~/Content/images/icons/2.png" alt="">
                                    <span class="menu-title">Paciente</span>
                                </a>
                            </li>
                        }
                        
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("MenuSeguridad","Menu")">
                                    <img src="~/Content/images/icons/019-fingerprint.png" alt="">
                                    <span class="menu-title">Seguridad</span>
                                </a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-elements/buttons.html">
                                <img src="~/Content/images/icons/4.png" alt="">
                                <span class="menu-title">Reportes</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Jefe-Personal"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("MenuConsultorioMedico","Menu")">
                                    <img src="~/Content/images/icons/5.png" alt="">
                                    <span class="menu-title">Medicos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("MenuEspecialidad","Menu")">
                                    <img src="~/Content/images/icons/6.png" alt="">
                                    <span class="menu-title">Especialidad</span>
                                </a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link" href="pages/icons/index.html">
                                <img src="~/Content/images/icons/7.png" alt="">
                                <span class="menu-title">Icons</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-elements/typography.html">
                                <img src="~/Content/images/icons/8.png" alt="">
                                <span class="menu-title">Typography</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#sample-pages" aria-expanded="false" aria-controls="sample-pages">
                                <img src="~/Content/images/icons/9.png" alt="">
                                <span class="menu-title">Sample Pages<i class="fa fa-sort-down"></i></span>
                            </a>
                            <div class="collapse" id="sample-pages">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/blank_page.html">
                                            Blank Page
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/login.html">
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/register.html">
                                            Register
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/404.html">
                                            404
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pages/samples/500.html">
                                            500
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img src="~/Content/images/icons/10.png" alt="">
                                <span class="menu-title">Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- partial -->

                <div class="content-wrapper">
                    @RenderBody()

                </div>
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">
                            <a href="#">Star Admin</a> &copy; 2017
                        </span>
                    </div>
                </footer>

                <!-- partial -->
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/js")
</body>

</html>
