@model CLINICAMVC.Models.RegisterViewModel
<!DOCTYPE html>
@{ 
    ViewBag.Title = "Registro de Usuarios";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro - Usuario</title>
    <style>
        .frm-registro a{
            padding:10px;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <h4>@ViewBag.Title</h4>
    <div class="card">
        <div class="contenedor-registro">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="mensajes">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if(ViewBag.Error != null)
                    {
                        <span>@ViewBag.Error</span>
                    }
                </div>
                    <div class="frm-registro">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NomEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.NomEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NomEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ApeEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.ApeEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ApeEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DirEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.DirEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DirEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CelEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.CelEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CelEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.EmailEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EmailEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DniEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.DniEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DniEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FecIngEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.FecIngEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FecIngEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FecNacEmpleado, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.EditorFor(model => model.FecNacEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FecNacEmpleado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="frm-registro">
                       @Html.LabelFor(model => model.EstadoUsuario, htmlAttributes: new { @class = "" })
                        
                            <div class="form-check">
                                @Html.EditorFor(model => model.EstadoUsuario)
                                @Html.ValidationMessageFor(model => model.EstadoUsuario, "", new { @class = "text-danger" })
                            </div>
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserRoles, htmlAttributes: new { @class = "" })
                        <div>
                            @Html.DropDownList("UserRoles",(SelectList)ViewBag.Roles,new { @class="form-control" })
                        </div>
                    </div>

                    <div class="frm-registro">
                        <input type="submit" value="Registrar" class="btn btn-primary mr-2" />
                        <a href="@Url.Action("ConsultaUsuario","Usuario")" class="btn btn-danger mr-2">Cancelar</a>
               
                    </div>
                
            }
        </div>
    </div>
    
   
</body>
</html>
